<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Cultura na Faixa
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <h1>Login</h1>

  <ion-input label="Email" label-placement="floating" fill="outline" placeholder="Digite seu email"></ion-input>
  <ion-input label="Senha" label-placement="floating" fill="outline" placeholder="Digite sua senha"></ion-input>
 

  <div class="ion-display-flex ion-justify-content-around">
    <button> Entrar </button>
    <button>Cadastrar</button>
  </div>


  <br>

</ion-content>
