<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Cultura na Faixa
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="login">
    <h1>Login</h1>

    <ion-input label="Email" label-placement="floating" fill="outline" placeholder="Digite seu email"></ion-input>
    <ion-input label="Senha" label-placement="floating" fill="outline" placeholder="Digite sua senha"></ion-input>


    <div class="botao">
      <ion-button>Entrar</ion-button>
      <ion-button>Cadastrar</ion-button>
    </div>


    <br>


    <h2>Outras formas de login</h2>

    <ion-icon name="logo-google"></ion-icon>

  </div>

</ion-content>