ion-input {
    background-color:#e4ae2fd4;
    margin: 10px; //rever
    color: #000000;
    font-weight: 500;
    font-size: 20px;
}

h1{
    color: #e4af2f;
    font-size: 40px;
    font-weight: bold;
}

.botoes{
    width: 50%;
    font-weight: 800;
    --background: #e4af2f;
    --color: #662b7b;
    --border-radius: 10px;
    padding: 10px;

}

.login, .outras{
    margin: 30px;
    display: flex;
    justify-content: center;
    /* centraliza horizontal */
    align-items: center;
    /* centraliza vertical */
    gap: 50px;
    flex-direction: column;
}

.botao{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;


    gap: 10px;
    width: 85%;
}
