<ion-tabs>
  <ion-tab-bar class="tabs" slot="bottom">
    <ion-tab-button  class="tabs" tab="tab1" href="/tabs/tab1">
      <ion-icon name="home-sharp"></ion-icon>
      <ion-label>Início</ion-label>
    </ion-tab-button>

    <ion-tab-button class="tabs" tab="tab2" href="/tabs/tab2">
      <ion-icon name="search-sharp"></ion-icon>
      <ion-label>Busca</ion-label>
    </ion-tab-button>

    <ion-tab-button  class="tabs" tab="tab3" href="/tabs/tab3">
      <ion-icon name="heart-sharp"></ion-icon>
      <ion-label>Favoritos</ion-label>
    </ion-tab-button>

    <ion-tab-button  class="tabs" tab="tab4" href="/tabs/tab4">
      <ion-icon name="person-sharp"></ion-icon>
      <ion-label>Conta</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>
