.tab2_content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-direction: column;
  margin-top: 10%;
}

.lista, ion-searchbar {
  width: 80%;
}

ion-searchbar{
  font-size: 50%;
}

// categorias
.category_content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-top: 5%;
}

.card_categoria {
  width: 30%;
  height: 30%;
}

.card_categoria ion-card-title {
  font-size: 100%;
}

// cards de eventos (busca e modal) ficam igual tab1
.card_evento {
  display: flex;
  justify-content: center;  /* centraliza horizontal */
  align-items: center;      /* centraliza vertical */
  // gap: 16px;
  flex-direction: column;
}

.info {
  padding-top: 20px;
  gap: 16px;
}

.favorito {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.favorito {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

// ion-icon {
//   padding-left: 20%;
//   font-size: 30px;
// }

.botao_voltar {
   width: 85px;
   height: auto;
   margin-left: -35%;
}


.category_image{
  width: 100%;
}
