<ion-header [translucent]="true">
  <ion-toolbar>
    <!-- essa bomba é o botão de voltar que fica quando clica em uma categoria-->
    <!-- MAS ele não ta aparecendo ??? (se você clicar do canto << da toolbar ele está funcionando, só não quer aparecer)-->
    <ion-buttons slot="start">
      <ion-button *ngIf="categoriaAtiva" (click)="voltar()" class="botao_voltar">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>
      {{ categoriaAtiva ? categoriaAtiva : 'Cultura na Faixa' }}
    </ion-title>

  </ion-toolbar>
</ion-header>



<ion-content [fullscreen]="true">

  <!-- BARRA DE BUSCA (some quando estiver em categoria) -->
  <div class="tab2_content" *ngIf="!categoriaAtiva">
    <ion-searchbar animated="true" placeholder="Buscar evento, local ou categoria" (ionInput)="buscar($event)">
    </ion-searchbar>
  </div>

  <!-- RESULTADOS DA BUSCA -->
  <div *ngIf="termoBusca.length > 0 && !categoriaAtiva">

    <div *ngIf="eventosFiltrados.length === 0" class="ion-text-center ion-padding">
      <p>Nenhum evento encontrado.</p>
    </div>

    <div class="card_evento">

      <ion-card *ngFor="let evento of eventosFiltrados">
        <img [src]="evento.imagem" [alt]="evento.titulo" style="width: 400px; height: 230px;" />
        <ion-card-header>
          <ion-card-title>
            {{ evento.titulo }}
            <!-- ação para quando favoritar -->
            <ion-tab-button class="favorito" (click)="toggleFavorito(evento, $event)">
              <ion-icon [name]="evento.favorito ? 'heart-sharp' : 'heart-outline'">
              </ion-icon>
            </ion-tab-button>
          </ion-card-title>
        </ion-card-header>
        <ion-card-content>
          {{ evento.local }} - {{ evento.data }}
        </ion-card-content>

      </ion-card>

    </div>

  </div>

  <!-- CATEGORIAS (tela inicial) -->
  <div *ngIf="!categoriaAtiva && termoBusca.length === 0">

    <div class="category_content">
      <ion-card class="card_categoria" (click)="abrirCategoria('Música')">
        <img class="category_image" alt="Música" src="https://t3.ftcdn.net/jpg/03/01/43/92/360_F_301439209_vpF837oCGM1lp0cnC7stzCBn3th0dQ6O.jpg" />
        <ion-card-header>
          <ion-card-title class="ion-text-center">Música</ion-card-title>
        </ion-card-header>
      </ion-card>

      <ion-card class="card_categoria" (click)="abrirCategoria('Teatro')">
        <img class="category_image"  alt="Teatro" src="https://img.freepik.com/vetores-premium/ilustracao-vetorial-de-icones-de-materiais-de-educacao_1287271-8206.jpg?semt=ais_hybrid&w=740&q=80" />
        <ion-card-header>
          <ion-card-title class="ion-text-center">Teatro</ion-card-title>
        </ion-card-header>
      </ion-card>
    </div>

    <div class="category_content">
      <ion-card class="card_categoria" (click)="abrirCategoria('Cinema')">
        <img class="category_image"  alt="Cinema" src="https://static.vecteezy.com/ti/vetor-gratis/p1/3065406-flat-design-concept-cinema-icon-gratis-vetor.jpg" />
        <ion-card-header>
          <ion-card-title class="ion-text-center">Cinema</ion-card-title>
        </ion-card-header>
      </ion-card>

      <ion-card class="card_categoria" (click)="abrirCategoria('Dança')">
        <img class="category_image"  alt="Dança" src="https://www.shutterstock.com/image-vector/dancing-couple-silhouette-logo-icon-600nw-2503861073.jpg" />
        <ion-card-header>
          <ion-card-title class="ion-text-center">Dança</ion-card-title>
        </ion-card-header>
      </ion-card>
    </div>

  </div>

  <!-- EVENTOS DA CATEGORIA -->
  <div *ngIf="categoriaAtiva">

    <div *ngIf="eventosFiltrados.length === 0" class="ion-text-center ion-padding">
      <p>Nenhum evento nessa categoria no momento.</p>
    </div>

    <div class="card_evento">
      <ion-card class="card_evento" *ngFor="let evento of eventosFiltrados">
        <img [src]="evento.imagem" [alt]="evento.titulo" style="width: 400px; height: 230px;" />
        <ion-card-header>
          <ion-card-title class="favorito">
            {{ evento.titulo }}
            <ion-tab-button (click)="toggleFavorito(evento, $event)">
              <ion-icon [name]="evento.favorito ? 'heart-sharp' : 'heart-outline'"></ion-icon>
            </ion-tab-button>
          </ion-card-title>
        </ion-card-header>
        <ion-card-content>
          {{ evento.local }} - {{ evento.data }}
        </ion-card-content>
      </ion-card>
    </div>

  </div>

</ion-content>