<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 2
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="tab2_content">
    <ion-searchbar [debounce]="1000" (ionInput)="handleInput($event)"></ion-searchbar>

    <ion-list class="lista">
      @for (result of results; track result) {
      <ion-item class="ion-text-center">
        <ion-label>{{ result }}</ion-label>
      </ion-item>
      }
    </ion-list>
  </div>

</ion-content>
