<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Cultura na Faixa
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="tab2_content">
  <ion-searchbar animated="true" placeholder="Buscar"></ion-searchbar>
  </div>

  <!-- <div class="tab2_content">
    <ion-searchbar [debounce]="1000" (ionInput)="handleInput($event)"></ion-searchbar>

    <ion-list class="lista">
      @for (result of results; track result) {
      <ion-item class="ion-text-center">
        <ion-label>{{ result }}</ion-label>
      </ion-item>
      }
    </ion-list>
  </div> -->

  <div class="category_content">
      <ion-card>
          <img class="test" alt="Silhouette of mountains" src="https://t3.ftcdn.net/jpg/03/01/43/92/360_F_301439209_vpF837oCGM1lp0cnC7stzCBn3th0dQ6O.jpg"/>
          <ion-card-header>
            <ion-card-title class="ion-text-center">Música</ion-card-title>
            <!-- <ion-card-subtitle>Card Subtitle</ion-card-subtitle> -->
          </ion-card-header>
      </ion-card>

      <ion-card>
          <img class="test" alt="Silhouette of mountains" src="https://img.freepik.com/vetores-premium/ilustracao-vetorial-de-icones-de-materiais-de-educacao_1287271-8206.jpg?semt=ais_hybrid&w=740&q=80"/>
          <ion-card-header>
            <ion-card-title class="ion-text-center">Teatro</ion-card-title>
            <!-- <ion-card-subtitle>Card Subtitle</ion-card-subtitle> -->
          </ion-card-header>
      </ion-card>
  </div>

  <div class="category_content">
      <ion-card>
          <img class="test" alt="Silhouette of mountains" src="https://static.vecteezy.com/ti/vetor-gratis/p1/3065406-flat-design-concept-cinema-icon-gratis-vetor.jpg"/>
          <ion-card-header>
            <ion-card-title class="ion-text-center">Cinema</ion-card-title>
            <!-- <ion-card-subtitle>Card Subtitle</ion-card-subtitle> -->
          </ion-card-header>
      </ion-card>

      <ion-card>
          <img class="test" alt="Silhouette of mountains" src="https://www.shutterstock.com/image-vector/dancing-couple-silhouette-logo-icon-600nw-2503861073.jpg"/>
          <ion-card-header>
            <ion-card-title class="ion-text-center">Dança</ion-card-title>
            <!-- <ion-card-subtitle>Card Subtitle</ion-card-subtitle> -->
          </ion-card-header>
      </ion-card>
  </div>

</ion-content>
