.tab2_content{
  display: flex;
  justify-content: center;  /* centraliza horizontal */
  align-items: center;      /* centraliza vertical */
  gap: 16px;
  flex-direction: column;

}

.lista, ion-searchbar{
    width: 80%;
}

.category_content{
  display: flex;
  justify-content: center;  /* centraliza horizontal */
  align-items: center;      /* centraliza vertical */
  flex-direction: row;

}

ion-card{
  width: 30%;
  height: 30%;
}


ion-card-title{
  text-size-adjust: 70%;
}