<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="tab1_content">
    <ion-card class="ion-align-items-center">
        <img alt="Silhouette of mountains" src="https://files.pressmanager.net/clientes/625b13d2e0f9dc14e52ac4deac083e71/imagens/2025/02/18/82817132bcc406c20824c21a3c2e52e2.jpg" style="width: 400px; height: 230px;" />
        <ion-card-header>
        <ion-card-title>Carlinhos do Teclado</ion-card-title>
        <!-- <ion-card-subtitle>Card Subtitle</ion-card-subtitle> -->
      </ion-card-header>

      <ion-card-content>
        Sesc Popeia - 20/12 13h às 15h
      </ion-card-content>
    </ion-card>

    <ion-card class="ion-align-items-center">
      <img alt="Silhouette of mountains" src="https://p2.trrsf.com.br/image/fget/cf/478/481/smart/images.terra.com/2025/07/08/302523534-8-dupla-sertaneja-felipe-e-matheus-viralizou-em-2024-ao-fazer-show-sem-plateia.jpg" style="width: 400px; height: 230px;" />
      <ion-card-header>
        <ion-card-title>Ricardo & Moreno</ion-card-title>
        <!-- <ion-card-subtitle>Card Subtitle</ion-card-subtitle> -->
      </ion-card-header>

      <ion-card-content>
        Vale do Anhangabaú - 18/09 18h às 20h
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
