<!--TESTE UHU-->
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Cultura na Faixa
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="tab1_content">
    <ion-card *ngFor="let evento of eventos" (click)="abrirModal(evento)">

      <img [src]="evento.imagem" [alt]="evento.titulo" style="width: 400px; height: 230px;" />

      <ion-card-header>
        <ion-card-title>
          {{ evento.titulo }}
        </ion-card-title>
      </ion-card-header>

      <ion-card-content>
        {{ evento.local }} - {{ evento.data }}
      </ion-card-content>

    </ion-card>

    <!-- modal -->
    <ion-modal [isOpen]="isModalOpen">

      <ng-template>

        <ion-header>
          <ion-toolbar>
            <ion-title>Sobre o Show</ion-title>

            <ion-buttons slot="end">
              <ion-button (click)="fecharModal()">
                Fechar
              </ion-button>
            </ion-buttons>

          </ion-toolbar>
        </ion-header>

        <ion-content class="ion-padding">

          <h2 class="ion-text-center">
            {{ eventoSelecionado?.titulo }}
          </h2>

          <img [src]="eventoSelecionado?.imagem" [alt]="eventoSelecionado?.titulo" style="width: 100%; height: 230px;" />

          <div class="info ion-display-flex ion-align-items-center">
            <img class="img_info" src="/assets/info.png" alt="info" style="width: 7%; height: 7%;">
            <h2>Informações</h2>
          </div>

          <p class="ion-text-justify">
            {{ eventoSelecionado?.descricao }}
          </p>

          <div class="info ion-display-flex ion-align-items-center">
            <img class="img_info" src="/assets/map.png" alt="map" style="width: 7%; height: 7%;">
            <h2>Onde:</h2>
          </div>
          <p class="ion-text-justify">
            {{ eventoSelecionado?.local }}
          </p>

          <div class="info ion-display-flex ion-align-items-center">
            <img class="img_info" src="/assets/clock.png" alt="clock" style="width: 7%; height: 7%;">
            <h2>Quando:</h2>
          </div>

          <p class="ion-text-justify">
            {{ eventoSelecionado?.data }}
          </p>
        </ion-content>

      </ng-template>

    </ion-modal>

  </div>

</ion-content>