<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">
      Cultura na Faixa
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <!-- NÃO LOGADO -->
  <div *ngIf="!usuarioLogado" class="ion-display-flex ion-align-items-center ion-justify-content-center"
    style="height: 100%;">
    <ion-card color="tertiary">
      <ion-card-header>
        <ion-card-title class="ion-text-center">
          Faça login para acessar seus favoritos
        </ion-card-title>
      </ion-card-header>
    </ion-card>
  </div>

  <!-- LOGADO SEM FAVORITOS -->
  <div *ngIf="usuarioLogado && favoritos.length === 0"
    class="ion-display-flex ion-align-items-center ion-justify-content-center" style="height: 100%;">
    <ion-card color="tertiary">
      <ion-card-header>
        <ion-card-title class="ion-text-center">
          Você ainda não tem favoritos!
        </ion-card-title>
      </ion-card-header>
    </ion-card>
  </div>

  <!-- LOGADO COM FAVORITOS -->
  <div class="card_fav" *ngIf="usuarioLogado && favoritos.length > 0">
    <ion-card *ngFor="let evento of favoritos">
      <img [src]="evento.imagem" [alt]="evento.titulo" style="width: 400px; height: 230px;" />
      <ion-card-header>
        <ion-card-title class="favorito">
          {{ evento.titulo }}
          <!-- ação para quando favoritar -->
          <ion-tab-button fill="clear" (click)="toggleFavorito(evento, $event)">
            <ion-icon [name]="evento.favorito ? 'heart-sharp' : 'heart-outline'">
            </ion-icon>
          </ion-tab-button>
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        {{ evento.local }}
        <br>
        {{ evento.data }}
      </ion-card-content>
    </ion-card>
  </div>

</ion-content>