.card_fav{
  display: flex;
  justify-content: center;  /* centraliza horizontal */
  align-items: center;      /* centraliza vertical */
  gap: 16px;
  flex-direction: column;
  
}

h1{
    margin: 10px;
}

.favorito{
  display: flex;
  justify-content: space-around;
  align-items: center;
}